.IconButton {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    border: none;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}
